<form method="POST" action="">
  <div class="card">
    <h5 class="card-header">
      News User
    </h5>
    <div class="card-body">
      <div class="form-group">
        <label for="username">User</label>
        <input type="text" class="form-control" id="username" name="username" autofocus />
      </div>
       <div class="form-group">
        <label for="password">password</label>
        <input type="text" class="form-control" id="password" name="password" autofocus />
      </div>
       <div class="form-group">
        <label for="displayName">displayName</label>
        <input type="text" class="form-control" id="displayName" name="displayName" autofocus />
      </div>
       <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" id="email" name="email" autofocus />
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-primary" href="/users" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>
      <button type="submit" class="btn btn-outline-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>