<form method="POST">
  <div class="card">
    <h5 class="card-header">
      Edit User
    </h5>
    <div class="card-body">
      <div class="form-group">
        <label for="txtCatID">#</label>
        <input type="text" class="form-control" id="txtCatID" name="CatID" value="{{this.user.username}}" readonly>
      </div>
      <div class="form-group">
        <label for="displayName">displayName</label>
        <input type="text" class="form-control" id="displayName" name="displayName" value="{{this.user.displayName}}"
          autofocus>
      </div>
      <div class="form-group">
        <label for="password">password</label>
        <input type="text" class="form-control" id="password" name="password" value="{{this.user.password}}"
          autofocus>
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" id="email" name="email" value="{{this.user.email}}"
          autofocus>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-primary" href="/users" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>
      <button type="submit" class="btn btn-outline-danger" formaction="/users/del">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete
      </button>
      <button type="submit" class="btn btn-outline-success" formaction="/users/patch">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>