<div class="card">
  <h5 class="card-header d-flex justify-content-between">
    Users
    <a class="btn btn-outline-success" href="/users/add" role="button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add User
    </a>
  </h5>
  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">Empty data.</p>
  </div>
  {{else}}
   <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each listUsers}}
        <tr>
          <th scope="row">{{this.username}}</th>
          <td>{{this.password}}</td>
          <td class="text-right">
            <a class="btn btn-sm btn-primary" href="users/{{this._id}}" role="button" title="Edit User">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </a>
          </td>
        </tr>

        {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}
</div>